.DashboardV2 {
  padding-top: 4.65rem;
}

.DashboardV2-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin-top: 0.8rem;
}
.DashboardV2-cards .App-card,
.DashboardV2-token-cards .App-card {
  box-shadow: 4px 4px 0px 0px #090d13;
}
.DashboardV2-overview-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 16px;
}
.item-overview-card {
  display: flex;
  flex-direction: column;
  background: var(--bg-default);
  border: 1px solid #1e2136;
  border-radius: 0.4rem;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.overview-card-img {
  width: 44px;
  height: 44px;
}
.overview-card-number {
  color: var(--text-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.overview-card-text {
  color: var(--text-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.DashboardV2-token-cards {
  margin-top: 0.8rem;
}

.token-table-wrapper {
  border-radius: 0.4rem;
  background: #17182c;
  padding: 0 1.5rem;
  text-align: left;
}

.token-table-wrapper .App-card-title {
  justify-content: unset;
}

.token-table-wrapper .App-card-title img {
  margin-top: 0.3rem;
  display: inline-flex;
  margin-left: 0.8rem;
}
.App-card-title.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-card-title-left {
  display: flex;
  width: fit-content;
  align-items: center;
}
.dashboard-card-title-left span {
  color: var(--text-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.dashboard-card-title-right {
  display: flex;
  width: fit-content;
}
.dashboard-card-title-text {
  color: var(--text-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.App-card-title-mark.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.App-card-content.dashboard {
  grid-row-gap: 8px;
  height: fit-content;
}
.App-card-content-wrapper {
  display: flex;
  align-items: center;
}
.App-card-token-title-left {
  display: flex;
}
.App-card-row.dashboard {
  justify-content: space-between;
  height: 24px;
}
.App-card-title.dashboard .dashboard-card-title-mark-left {
  width: 8px;
  height: 20px;
  border-radius: 2px;
  background: var(--bg-hesitate);
  margin-right: 12px;
}
.dashboard-card-title-mark-left {
  width: 8px;
  height: 20px;
  border-radius: 2px;
  background: var(--bg-hesitate);
  margin-right: 12px;
}
.App-card-title.dashboard .dashboard-card-title-mark-right {
  width: 8px;
  height: 20px;
  border-radius: 2px;
  background: var(--bg-success);
  margin-right: 12px;
}
.App-card-title-icon {
  display: flex;
  margin-left: 1.2rem;
}
.token-table-label {
  color: var(--text-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.App-card-title-icon img + img {
  margin-left: 0.6rem;
}

.stats-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.stats-wrapper .App-card {
  width: 100%;
  display: flex;
}

.stats-block {
  width: 100%;
}

.stats-piechart {
  margin: -1rem;
  margin-right: 0.5rem;
}

.stats-block--ulp .stats-label {
  grid-row-gap: 0;
}

.stats-label {
  font-size: var(--font-sm);
  line-height: 1.6rem;
  border-radius: 0.4rem;
  padding: 1.05rem;
  letter-spacing: 0.4px;
  text-align: left;
  z-index: 1;
  background: linear-gradient(90deg, #0b0b0f 0%, rgba(10, 13, 28, 1) 100%);
  cursor: pointer;
}

.stats-label-color {
  width: 0.4rem;
  height: 100%;
  margin-right: 1.5rem;
}

.Available-network-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.8rem;
}

.Available-network-group .Tooltip {
  display: flex;
}

.Available-network-group .Available-network {
  display: flex;
}

.Available-network-group .Available-network img {
  filter: grayscale(100%);
}

.Available-network-group .Tooltip-handle.active .Available-network img {
  filter: unset;
}

.Available-network-group .Available-network img:hover {
  filter: unset;
}

.token-table .token-symbol-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4.65rem;
}

.DashboardV2-token-cards .token-table td:nth-child(3),
.DashboardV2-token-cards .token-table th:nth-child(3) {
  width: 20rem;
}
.mobile-token-card {
  display: flex;
  align-items: center;
}

.token-symbol-text {
  line-height: 1;
}

.mobile-token-card > img {
  margin-right: 0.8rem;
}

.ulp-composition-small {
  display: none;
}

@media (max-width: 1024px) {
  .stats-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }

  .stats-wrapper .App-card {
    max-width: unset !important;
    margin: 0;
  }
}

@media (max-width: 1100px) {
  .token-table-wrapper {
    display: none;
  }
  .stats-wrapper {
    margin-bottom: 0;
  }
  .ulp-composition-small {
    display: flex;
  }
  .DashboardV2-overview-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .DashboardV2-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 660px) {
  .stats-wrapper .App-card {
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .stats-piechart {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .DashboardV2-overview-cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 568px) {
  .App-card-content-wrapper {
    flex-direction: column;
    margin-bottom: 32px;
  }
}
.chain-card {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--bg-divider);
  background: var(--bg-default);
}

.chain-card-img-wrap {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chain-card-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--text-secondary);
}

.Page-title.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
